* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: calibreRegular;
    src: url("font/CalibreRegular.otf");
}

@font-face {
    font-family: calibreThin;
    src: url("font/calibreThin.otf");
}

@font-face {
    font-family: calibreBold;
    src: url("font/CalbireBold.otf");
}

strong {
    font-family: calibreRegular;
}

.top-line {
    position: absolute;
    top: -220px;
    background-color: #d7c5b1;
    justify-items: center;
    position: relative;
    padding-bottom: 130px;
}

.top-line .img {
    display: inline-block;
    height: 125px;
    width: auto;
}

.top-line a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: calibreThin;
    font-size: 1.4rem;
    margin-left: 100px;
}

.top-line .txt {
    position: absolute;
    top: 55px;
    left: 500px;
}

/* Dropdown Button */
.dropbtn {
    position: absolute;
    top: -80px;
    right: -100px;
    background-color: #d7c5b1;
    color: white;
    padding: 0px 6px 0px 6px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    display: none;
}
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #beaf9d;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
    top: 120px;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: block;
    min-height: 700px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: -1700px;
    right: -0px;
    text-align: center;
    transition: .5s ease;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
  
  /* Links inside the dropdown */
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: calibreThin;
    font-size: 1.3rem;
}

.dropdown-content .image{
    margin-top: 100px;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block; top: -640px; transition: .5s ease;}

.huge-txt {
    position: absolute;
    top: 300px;
    right: 45vw;
    color: #000000;
    font-family: 'Great Vibes',Arial, Helvetica, sans-serif;
    font-size: 5.5rem;
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.wrapper > div {
    width: 100vw;
    height: 700px;
    position: absolute;
    top: -100px;
    animation: animate 25s infinite;
    opacity: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.wrapper > div:nth-child(2) {
    animation-delay: 5s;
}
.wrapper > div:nth-child(3) {
    animation-delay: 10s;
}
.wrapper > div:nth-child(4) {
    animation-delay: 15s;
}
.wrapper > div:nth-child(5) {
    animation-delay: 20s;
}

@keyframes animate{
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    40%{
        transform: scale(1.2);
    }
}

.main-img-wrap {
    position: absolute;
    top: 0px;
    width: 800px;
    height: auto;
}

.social-media-tags {
    position: absolute;
    top: 500px;
    left: 100px;
    font-family: calibreRegular;
}

.social-media-tags > a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 10px 7px 10px;
    margin-top: 100px;
}

.social-media-b {
    padding-right: 9px;
}

.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(49, 49, 49);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #444444;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: Bold;
    font-family: calibreBold;
  }

.attribution {
    background-color: #4b4b4b;
    padding: 20px;
}

@media (max-width: 1097px) {
    .top-line .txt {
        left: 300px;
    }
}

@media (max-width: 899px) {
    .top-line a {
        margin-left: 60px;
    }
} 

@media (max-width: 777px) {
    .top-line .txt {
        display: none;
    }

    .dropbtn {
        display: inline-block;
    }
}
 
@media (max-width: 434px) {
    .top-line .img {
        height: 100px;
    }

    .dropbtn {
        top: -90px;
    }
}

@media (max-width: 392px) {
    .dropbtn {
        right: -80px;
    }
    .top-line .img {
        width: 200px;
        height: auto;
    }
}

@media (max-height: 810px) {
    .wrapper > div {
        height: 600px;
    }
    .top-line {
        top: px;
    }
}

@media (max-height: 755px) {
    .social-media-tags {
        top: 350px;
    }
}

@media (max-width: 906px) {
    .main-img-wrap {
        width: 500px;
    }
}

@media (max-width: 850px) {
    .social-media-tags {
        top: 50px;
        left: 500px;
    }

    .social-media-tags > a {
        border: 1px solid white;
        color: white;
    }
}

@media (max-width: 710px) {
    .social-media-tags {
        display: none;
    }
}

@media (max-width: 506px) {
    .main-img-wrap {
        width: 400px;
        top: 10px;
    }
}

@media (max-width: 402px) {
    .main-img-wrap {
        width: 300px;
        top: 10px;
    }

    .container {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
}

@media (min-height: 792px) {
    .top-line {
        top: -270px;
    }
}

@media (min-height: 617px) {
    .top-line {
        top: -300px;
    }
}

@media (max-height: 682px) {
    .top-line {
        top: -260px;
    }
}

@media (max-height: 600px) {
    .top-line {
        top: -240px;
    }
}